<div class='social right'>
  <table>
    <tr>
      <td>
        <%= link_to image_tag('twitter.svg', size: '200x200'), 'https://twitter.com/brittballard' %>
      </td>
      <td>
        <%= link_to image_tag('github.svg', size: '200x200'), 'https://github.com/brittballard' %>
     </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag('facebook.svg', size: '200x200'), 'https://www.facebook.com/britt.ballard' %>
     </td>
      <td>
        <%= link_to image_tag('gplus.png', size: '200x200'), 'https://plus.google.com/103147954658108324674/videos' %>
     </td>
   </tr>
  </table>
</div>
