body { 	font-family:"arial",Sans-Serif; }

#header{
  float: left ;
  position: relative; 
  top: 0;
  height: 65px;
  margin:0;
  width: 98%; 
  margin-left: auto ;
  margin-right: auto ;
}

#star{
  width:200px;
  float: left;
  position:absolute;
}

#left-column{
  position:relative;
  float:left;
}

#content {
  vertical-align: top;
  width: 1020px ;
  margin-right: auto ;
  position: absolute;
}

A:link { 
  text-decoration: none ;
  color: black; 
  font-family: monotype sorts, arial, serif ; 
  font-size: 20px;
} 

A:active { 
  text-decoration: none ;
  color: black; 
  font-family: monotype sorts, arial, serif ; 
  font-size: 20px;
}

A:visited { 
  text-decoration: none ;
  color: black; 
  font-family: monotype sorts, arial, serif ; 
  font-size: 20px;
}

.left {
  float:left;
}

.right {
  float:right;
}

.big-smile {
  font-size: 500px;
}

.social {
 vertical-align: top;
}
