<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <!-- xmlns:fb="http://www.facebook.com/2008/fbml" -->
   <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <head>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/social' %>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
